.button {
	display: inline-block;
	background: $gray-dark;
	color: $white;
	line-height: 1;
	font-weight: bold;
	padding: 1em;
	border: 0;
	text-align: center;

	&:hover, &:focus {
		background: $grey-medium;
		color: $white;
	}
}

.typo3button {
	display: inline-block;
	background: $typo3-key-color;
	color: $white;
	line-height: 1;
	font-weight: bold;
	padding: 1em;
	border: 0;
	text-align: center;

	&:hover, &:focus {
		background: $support-orange-dark;
		color: $white;
	}
}
