.casestudy-company{
  margin-right: auto;
  margin-left: auto;
  margin-top: -5rem;
  background-color: $gray-lightest;
  img{
      width: 100%;
      height: auto;
  }
  .ce-bodytext{
    padding: 1rem;
  }
  h3{
    font-family: $source-sans-pro-bold;
    margin-bottom: 0.5rem;
    margin-top: -1rem;
  }
}
