//
// Content Element CaseStudy Partner
//
.contentelement-casestudy_partner {
    position: relative;
    background-color: $grey-superlight;
    margin-left: -$container-padding;
    margin-right: -$container-padding;
    padding: $container-padding;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        padding-top: 3rem;
        padding-bottom: 3rem;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            width: 9999px;
            height: 100%;
            background-color: $grey-superlight;
        }
        &:after {
            right: 100%;
        }
        &:before {
            left: 100%;
        }
    }
}
.container {
    .contentelement-casestudy_partner:last-child {
        margin-bottom: 0;
    }
}
.contentelement-casestudy_partner-logo {
    position: relative;
    margin-bottom: 1.5rem;   
    > img {
        height: auto;
        width: auto;
        max-height: 120px;
        max-width: 100%;
    }
}
.contentelement-casestudy_partner-text {
    margin-bottom: 1.5rem;
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
.contentelement-casestudy_partner-badge {
    width: 100px;
}
@media (min-width: map-get($grid-breakpoints, sm)) {
    .contentelement-casestudy_partner-row {
        display: table;
        width: 100%;
    }
    .contentelement-casestudy_partner-logo,
    .contentelement-casestudy_partner-text {
        display: table-cell;
        vertical-align: top;
    }
    .contentelement-casestudy_partner-text {
        padding-left: $grid-gutter-width;
        line-height: 1.4em; 
    }
    .contentelement-casestudy_partner-logo {
        width: 150px;
        > img {
            max-height: none;
            width: 100%;
        }
    }
    .contentelement-casestudy_partner-name {
        padding-right: 120px;
        margin-bottom: 1rem;
    }
    .contentelement-casestudy_partner-badge {
        position: absolute;
        top: 0;
        right: $container-padding;
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .contentelement-casestudy_partner-logo { 
        width: 190px;    
    }
    .contentelement-casestudy_partner-text {
        padding-right: 150px;
    }
    .contentelement-casestudy_partner-name {
        padding-right: 0;
        margin-bottom: 1.5rem;
    }
    .contentelement-casestudy_partner-badge {
        width: 120px;
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .contentelement-casestudy_partner-logo { 
        width: 230px;    
    }
    .contentelement-casestudy_partner-text {
        padding-right: 170px;
    }
    .contentelement-casestudy_partner-badge {
        width: 140px;
    }
}
