//
// Content Element Hard Facts
//
.contentelement-hard_facts-item {
    text-align: center;
    margin: 2em 0;
}
.contentelement-hard_facts-headline {
    margin: 0.35em 0 0.15em;
    line-height: 1em;
}
.contentelement-hard_facts-subline {
    display: block;
}
.contentelement-hard_facts-image {
    height: 40px;
    width: 40px;
}
@media (min-width: map-get($grid-breakpoints, sm)) {
    .contentelement-hard_facts {
        margin: 5rem 0;
    }
    .contentelement-hard_facts-row {
        margin: 0;
        display: table;
        width: 100%;
    }
    .contentelement-hard_facts-item {
        display: table-cell;
        width: 33.33%;
    }
    .contentelement-hard_facts-image {
        height: 50px;
        width: 50px;
    }
    .contentelement-hard_facts-headline {
        margin-top: 0.5em;
        margin-bottom: 0.25em;
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .contentelement-hard_facts {
        margin: 6rem 0;
    }
    .contentelement-hard_facts-image {
        height: 70px;
        width: 70px;
    }
    .contentelement-hard_facts-headline {
        margin-top: 1em;
        font-size: 3rem;
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .contentelement-hard_facts {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
