.hero-section .ce-bodytext{
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Share";
  font-size: 53px;
  color: #ffffff;
  float: right;
  width: 600px;
  position: absolute;
  top: 200px;
  right: 30px;
  padding: 20px 35px;
  line-height: 50px;

}