.hero-section .ce-bodytext{
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Share";
  font-size: 3.313rem;
  color: #ffffff;
  float: right;
  max-width: 40.625rem;
  min-width: 31.250rem;
  width: auto;
  position: absolute;
  top: 12.500rem;
  right: 1.875rem;
  padding: 1.250rem 2.188rem;
  line-height: 3.125rem;

}