.subpage-header{
  text-align: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -5rem;
  background-color: $white;
  padding: 3rem 8rem;
  h2{
    font-family: $share-bold;
  }
}