@media (min-width: map-get($grid-breakpoints, md)) {
	.overlap-box {
		position: relative;
		z-index: 10;
		background-color: white;
		padding: 1rem 2rem;
		margin-right: -8rem;
		margin-left: -8rem;
		margin-top: 2rem;
	}
	.block--text-right .overlap-box {
	  margin-right : 0;
	  padding-right: 0;
	}
	.block--text-left .overlap-box {
	  margin-left : 0;
	  padding-left: 0;
	}
}

.block--text ul {
	padding-left: 1rem;
	list-style: none;
}
.block--text ul li {
	position: relative;
	font-weight: bolder;
	padding-bottom: 0.5rem;
}
.block--text ul li:before {
  content: "";
  background-color: $support-orange-dark;
  position: absolute;
  display: block;
  height:7px;
  width: 7px;
  top: 8px;
  left: -1rem;
}

