div.text-image-indented {
  position: relative;
  margin-top: 60px;
}

div.text-image-indented:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

div.text-image-indented div.ce-gallery {
  position: absolute;
  right: 0px;
  top: -40px;
  z-index: 5;
}

div.text-image-indented div.ce-gallery img {
  width: 250px;
  height: 100px;
}

div.text-image-indented div.ce-bodytext {
  position: relative;
  top: 60%;
  background-color: #fff;
  width: 75%;
  z-index: 10;
}

div.text-image-indented div.ce-bodytext:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}
