.why-typo3{
  h2{
    text-align: center;
  }
  li{
    margin-top: 1rem;
    list-style: none;
    background-image: url(../../Public/Images/Icons/check.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 0.5rem 0.5rem;
    content: " ";
    padding-left: 73px;

  };
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

