<div id="randombanners">
    <div class="tx-randombanners">
    <f:for each="{banners}" as="banner">
        <div class="tx-randombanners-item">
			<f:if condition="{settings.noFollowTag} == 1">
				<then>
					<a class="tx-randombanners-link" onclick="clickBanner($(this));" href="<f:uri.external uri='{banner.link}' />" data-itemId="{banner.uid}" rel="nofollow" target="_blank">
						<f:image src="{banner.logo.filePath}{banner.logo.fileName}" alt="{banner.name}" />
					</a>
				</then>
				<else>
					<a class="tx-randombanners-link" onclick="clickBanner($(this));" href="<f:uri.external uri='{banner.link}' />" data-itemId="{banner.uid}" target="_blank">
						<f:image src="{banner.logo.filePath}{banner.logo.fileName}" alt="{banner.name}" />
					</a>
				</else>
			</f:if>
        </div>
    </f:for>
    </div>
</div>