.layout-homepage {
	main {
		position: relative;

		@include extraLarge {
			top: -5vw;
			background-color: $white;
		}

		@include extraExtraLarge {
			top: -7vw;
			background-color: $white;
		}
	}
}

.content.container {
	margin-top: 4.375rem;
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}
.center {
	text-align: center !important;
}
