.layout-homepage {
	main {
		position: relative;

		@include extraLarge {
			top: -5vw;
			background-color: $white;
		}

		@include extraExtraLarge {
			top: -7vw;
			background-color: $white;
		}
	}
}
.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}
.center {
	text-align: center !important;
}


//
// Content Element
//
.contentelement {
    margin: 2.5rem 0;
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
