//
// Footer
//
footer {
	margin-top: 6rem;
}


//
// Footer Meta
//
.footer-meta {
    background-color: $grey-dark;
	color: $white;
    padding: ($grid-gutter-width * 0.75) 0;
    list-style: none;
    overflow: hidden;
	a {
		color: darken($white, 20%);
        &:focus,
		&:hover {
			color: inherit;
            text-decoration: underline;
		}
	}
}
.footer-meta-items {
    list-style: none;
    padding: 0;
    margin: 0 ($grid-gutter-width / 2 * -1);
}
.footer-meta-item {
    padding: ($grid-gutter-width / 10) ($grid-gutter-width / 2);
    display: block;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        display: inline-block;
    }
}
.footer-meta-copyright {
    font-weight: bold;
}


//
// Header Navigation
//
.footer-navigation {
    padding: 2rem 0;
}