//
// Header
//
body {
    padding-top: 4.375rem;
}
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: $zindex-navbar-fixed;
    background-color: $grey-superlight;
    text-align: center;
    height: 4.375rem;
    .container {
        position: relative;
    }
}
.header-logo {
    display: block;
    margin: 0;
    margin-left: 3.025rem;
    padding-right: 3.025rem;
    text-align: center;
}
.header-logo-image {
    display: block;
    width: auto;
    margin: 0 auto;
    height: 4.375rem;
}
.header-toggle {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 4.375rem;
    width: 4.375rem;
    margin: 0;
    background-position: center center;
    background-image: url(#{$images}/Icons/burger-menu.svg);
    background-repeat: no-repeat;
    background-size: 1.6rem 1.6rem;
}


//
// Headser Navigation
//
.header-navigation {
    display: none;
    text-align: left;
    background-color: #ffffff;
    padding: 2rem 1.35rem;
    margin: 0 -1.35rem;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;  
    }
}
.header-navigation-list-headline {
    color: $grey-light;
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
}
.header-navigation-list-level-1 {
    margin-top: 1rem;
    &:first-child {
        margin-top: 0;
    }
}
.header-navigation-list-level-2 {
    a {
        position: relative;
        display: block;
        padding: 0.35rem 0 0.35rem 0.73rem;
        color: $grey-dark;
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            height: 1px;
            background-color: $grey-light;
            width: 5px;                
        }
        &:before {
            margin-top: -1.5px;
            transform: rotate(45deg);
        }
        &:after {
            margin-top: 1.5px;
            transform: rotate(-45deg);
        }
        &:focus,
        &:hover {
            color: $grey-dark;
            &:before,
            &:after {
                background-color: $typo3-key-color;
            }
        }
    }
    &.active {
        > a {
            color: $typo3-key-color;
        }
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .header-navigation {
        padding-left: 0;
        padding-right: 0;
        > ul {
            display: table;
        }
        .header-navigation-list-level-1 {
            display: table-cell;
            padding-left: 1.35rem;
            padding-right: 1.35rem;
        }
    }
}


// 
// Page Toggles
//
#page-toggle {
    display: none;
}
#page-toggle:checked + .header {
    .header-toggle {
        background-color: #ffffff;
	    background-image: url(#{$images}/Icons/burger-menu-close.svg);
    }
    .header-navigation {
        display: block;
    }
}
