//
// Header
//
body {
    padding-top: 3.125rem;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        padding-top: 3.75rem;
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
        padding-top: 4.375rem;
    }
}
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: $zindex-navbar-fixed;
    background-color: $grey-superlight;
    text-align: center;
    height: 3.125rem;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        height: 3.75rem;
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
        height: 4.375rem;
    }
    .container {
        position: relative;
    }
}
.header-logo {
    display: block;
    margin: 0;
    margin-left: 3.025rem;
    padding-right: 3.025rem;
    text-align: center;
}
.header-logo-image {
    display: block;
    width: auto;
    margin: 0 auto;
    height: 3.125rem;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        height: 3.75rem;
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
        height: 4.375rem;
    }
}
.header-toggle {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    background-position: center center;
    background-image: url(#{$images}/Icons/burger-menu-sm.svg);
    background-repeat: no-repeat;
    background-size: 1.3125rem;
    width: 4rem;
    height: 3.125rem;
    @media (min-width: map-get($grid-breakpoints, sm)) {
        height: 3.75rem;
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
        background-image: url(#{$images}/Icons/burger-menu.svg);
        background-size: 1.75rem;
        height: 4.375rem;
        width: 4.375rem;
    }
}


//
// Header Navigation
//
.header-navigation {
    display: none;
    text-align: left;
    background-color: #ffffff;
    padding: 2rem $container-padding;
    margin: 0 ($container-padding * -1);
}


// 
// Page Toggles
//
#page-toggle {
    display: none;
}
#page-toggle:checked + .header {
    .header-toggle {
        background-color: #ffffff;
	    background-image: url(#{$images}/Icons/burger-menu-close-sm.svg);
        @media (min-width: map-get($grid-breakpoints, md)) {
            background-image: url(#{$images}/Icons/burger-menu-close.svg);
        }
    }
    .header-navigation {
        display: block;
    }
}
