//
// Header
//
body {
    padding-top: $header-size-smartphone;

    @media (min-width: map-get($grid-breakpoints, md)) {
        padding-top: $header-size-tablet;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        padding-top: $header-size-desktop;
    }
}

// header container
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: $zindex-navbar-fixed;
    background-color: $grey-superlight;
    text-align: center;
    height: $header-size-smartphone;

    @media (min-width: map-get($grid-breakpoints, md)) {
        height: $header-size-tablet;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        height: $header-size-desktop;
    }

    .container {
        position: relative;
        padding: 0;
        height: 100%;
    }
}

// logo
.header-logo {
    display: block;
    margin: 0 $header-size-smartphone;
    height: 100%;
    text-align: center;

    @media (min-width: map-get($grid-breakpoints, md)) {
        margin: 0 $header-size-tablet;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        margin: 0 $header-size-desktop;
    }
}

.header-logo-image {
    display: block;
    margin: 0 auto;
    height: 90%;
    width: auto;
}

.header-toggle {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: $header-size-smartphone;
    width: $header-size-smartphone;
    margin: 0;
    background: url(#{$images}/Icons/burger-menu.svg) no-repeat center center;
    background-size: 1.6rem 1.6rem;

    @media (min-width: map-get($grid-breakpoints, md)) {
        height: $header-size-tablet;
        width: $header-size-tablet;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        height: $header-size-desktop;
        width: $header-size-desktop;
    }
}


//
// Header Navigation
//
.header-navigation {
    display: none;
    text-align: left;
    background-color: #ffffff;
    padding: $space*3 $space*2;
    margin: 0;

    @media (min-width: map-get($grid-breakpoints, md)) {
        padding: $space*4 $space*3;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        padding: $space*6 $space*4;
    }
}


// 
// Page Toggles
//
#page-toggle {
    display: none;
}
#page-toggle:checked + .header {
    .header-toggle {
        background-color: #ffffff;
	    background-image: url(#{$images}/Icons/burger-menu-close.svg);
    }
    .header-navigation {
        display: block;
    }
}
