//
// Container
//
.container,
.container-fluid {
    padding-left: $container-padding;
    padding-right: $container-padding;
}


//
// Row
//
.row {
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}
