//
// Container
//
.container,
.container-fluid {
    padding-left: 1.35rem;
    padding-right: 1.35rem;
}


//
// Row
//
.row {
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}
