<label for="displayedThisMonth">
	<f:translate key="tx_randombanners_domain_model_banner.displayed_this_month" />
</label><br />
	<f:form.textfield property="displayedThisMonth" /><br />
<label for="clickedThisMonth">
	<f:translate key="tx_randombanners_domain_model_banner.clicked_this_month" />
</label><br />
	<f:form.textfield property="clickedThisMonth" /><br />
<label for="displayedLastMonth">
	<f:translate key="tx_randombanners_domain_model_banner.displayed_last_month" />
</label><br />
	<f:form.textfield property="displayedLastMonth" /><br />
<label for="clickedLastMonth">
	<f:translate key="tx_randombanners_domain_model_banner.clicked_last_month" />
</label><br />
	<f:form.textfield property="clickedLastMonth" /><br />
