<table class="tx-randombanners" >
	<tr>
		<td>
			<f:translate key="tx_randombanners_domain_model_banner.displayed_this_month" />
		</td>
		<td>
			{statistics.displayedThisMonth}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_randombanners_domain_model_banner.clicked_this_month" />
		</td>
		<td>
			{statistics.clickedThisMonth}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_randombanners_domain_model_banner.displayed_last_month" />
		</td>
		<td>
			{statistics.displayedLastMonth}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_randombanners_domain_model_banner.clicked_last_month" />
		</td>
		<td>
			{statistics.clickedLastMonth}
		</td>
	</tr>
</table>