body,
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
}

strong, b {
	font-family: $source-sans-pro-bold, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

em, i {
	font-family: $source-sans-pro-italic, Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
	line-height: 1.2;
}
a{
	color: $typo3-key-color;
	&:hover{
		color: $typo3-key-color;
	}
}
h1{
	font-size: 3.313rem;
}
h2{
	font-size: 2.188rem;

}
h3{
	font-size: 1.375rem;

}
p{
	font-size: 1rem;
}