@font-face {
  font-family: "Source Sans Pro";
  src: url('../Fonts/SourceSansPro-Regular.eot?1457770348');
  src: url('../Fonts/SourceSansPro-Regular.eot?&1457770348#iefix') format('embedded-opentype'),
       url('../Fonts/SourceSansPro-Regular.woff2?1457770348') format('woff2'),
       url('../Fonts/SourceSansPro-Regular.woff?1457770348') format('woff'),
       url('../Fonts/SourceSansPro-Regular.otf?1457770348') format('opentype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Source Sans Pro Italic";
  src: url('../Fonts/SourceSansPro-Italic.eot?1457770348');
  src: url('../Fonts/SourceSansPro-Italic.eot?&1457770348#iefix') format('embedded-opentype'),
  url('../Fonts/SourceSansPro-Italic.woff2?1457770348') format('woff2'),
  url('../Fonts/SourceSansPro-Italic.woff?1457770348') format('woff'),
  url('../Fonts/SourceSansPro-Italic.otf?1457770348') format('opentype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url('../Fonts/SourceSansPro-Bold.eot?1457770348');
  src: url('../Fonts/SourceSansPro-Bold.eot?&1457770348#iefix') format('embedded-opentype'),
       url('../Fonts/SourceSansPro-Bold.woff2?1457770348') format('woff2'),
       url('../Fonts/SourceSansPro-Bold.woff?1457770348') format('woff'),
       url('../Fonts/SourceSansPro-Bold.otf?1457770348') format('opentype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Share";
  src: url('../Fonts/Share-Regular.otf?1457770348') format('opentype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Share Bold";
  src: url('../Fonts/Share-Bold.otf?1457770348') format('opentype');
  font-weight: normal;
  font-style: normal
}
