// Style guide color definitions
// ------------------------------

// TYPO3 colors
$typo3-key-color: #ff8700;
$support-orange-light: #ff9f33;
$support-orange-dark: #e67a00;
$marker-orange: #ffd095;

$white: #ffffff;
$grey-superlight: #f4f4f4;
$grey-light: #b9b9b9;
$grey-medium: #8c8c8c;
$grey-dark: #515151;
$black: #000000;

// Message colors
$valid-message-green: #5abc55;
$warning-message-yellow: #ffc800;
$error-message-red: #dd123d;
$information-message-blue: #0080ff;


// Style guide font definitions
// ------------------------------

$source-sans-pro: "Source Sans Pro";
$source-sans-pro-italic: "Source Sans Pro Italic";
$source-sans-pro-bold: "Source Sans Pro Bold";
$share: "Share";
$share-bold: "Share Bold";

@include font-face($source-sans-pro, font-files("SourceSansPro-Regular.woff2", "SourceSansPro-Regular.woff", "SourceSansPro-Regular.otf"), "SourceSansPro-Regular.eot", normal, normal);
@include font-face($source-sans-pro-italic, font-files("SourceSansPro-Italic.woff2", "SourceSansPro-Italic.woff", "SourceSansPro-Italic.otf"), "SourceSansPro-Italic.eot", normal, normal);
@include font-face($source-sans-pro-bold, font-files("SourceSansPro-Bold.woff2", "SourceSansPro-Bold.woff", "SourceSansPro-Bold.otf"), "SourceSansPro-Bold.eot", normal, normal);
@include font-face($share, font-files("Share-Regular.otf"), false, normal, normal);
@include font-face($share-bold, font-files("Share-Bold.otf"), false, normal, normal);
