// Style guide color definitions
// ------------------------------


//
// Container Adjustents
//
$container-padding: 1.35rem;


//
// TYPO3 colors
//
$typo3-key-color: #ff8700;
$support-orange-light: #ff9f33;
$support-orange-dark: #e67a00;
$marker-orange: #ffd095;

$white: #ffffff;
$grey-superlight: #f4f4f4;
$grey-light: #b9b9b9;
$grey-medium: #8c8c8c;
$grey-dark: #515151;
$black: #000000;


//
// Message colors
//
$valid-message-green: #5abc55;
$warning-message-yellow: #ffc800;
$error-message-red: #dd123d;
$information-message-blue: #0080ff;


//
// Style guide font definitions
//
$source-sans-pro: "Source Sans Pro";
$source-sans-pro-italic: "Source Sans Pro Italic";
$source-sans-pro-bold: "Source Sans Pro Bold";
$share: "Share";
$share-bold: "Share Bold";


//
// Paths
//
$images: "../Images";
$icons: "../Icons";
